<html>
    <head>
        <title>Blog de Yuri</title>
    </head>
    <body>
        <div>
            <h1><a href="">El Blog de Yuri</a></h1>
        </div>

        <div>
                {% for post in posts %}
                    <div>
                        <p>published: {{ post.published_date }}</p>
                        <h1><a href="">{{ post.title }}</a></h1>
                        <p>{{ post.text|linebreaksbr }}</p>
                        ----------
                        <br/>
                    </div>
                {% endfor %}
    </body>
</html>